<div class="new-page">
  <h1>ADD A NEW MEMBER</h1>
  <!-- <img class="form-image" src="/images/sign_up.jpg" alt="weightlifter"> -->

<form class="form" action="/members" method="post">
  <label for="first-name">First Name:</label>
    <input id = 'first-name' type="text" name="first_name" value=""/>
    <br>
    <br>
  <label for="last-name">Last Name:</label>
    <input id = "last-name" type="text" name="last_name" value="" />
    <br>
    <br>
  <label for="age">D/O/B</label>
    <input id = "age" type="date" name="dob" value="" required="true"/>
    <br>
    <br>
  <label for="goal">What are their goals?</label>
    <input id = "goal" type="text" name="goal" value="" />
    <br>
    <br>
    <input type="submit" value="Create new member" />
    <br>
    <label class="hidden" for="image">Blank Image</label>
      <input class="hidden" id="image" type="text" name="image" value="avatar.png" >
      <br>
</form>
</div>
