<form action="/members" method="post">
  <label for="first-name">First Name:</label>
    <input id = 'first-name' type="text" name="first_name" value=""/>
    <br>
    <br>
  <label for="last-name">Last Name:</label>
    <input id = "last-name" type="text" name="last_name" value="" />
    <br>
    <br>
  <label for="age">Their D/O/B</label>
    <% dob = %><input id = "age" type="text" name="age" value="Year they were born" />
    <p><%= Member.age_calculator(dob) %></p>
    <br>
    <br>
  <label for="goal">What are their goals?</label>
    <input id = "goal" type="text" name="goal" value="" />
  <input type="submit" value="Create new member" />
</form>
