<h1><%= @member.first_name %> <%= @member.last_name %></h1>

<h3ś>Workouts booked:</h3>

<ul>
  <% @member.workouts_booked.each do |workout| %>
    <li>Name of workout: <%= workout.name %></li>
    <li>Type of workout: <%= workout.type %></li>
  <hr />
  <% end %>
</ul>
