<div class="new-page">

  <h1>CREATE A NEW CLASS</h1>

  <form class="form" action="/workouts" method="post">
    <label for="workout-name">What is the class called?</label>
      <input id = "workout-name" type="text" name="name" value="">
    <br>
    <br>
    <label for="workout-type">What type of class is it?</label>
      <select id="workout-type" name="type">
        <option value="HIIT">HIIT</option>
        <option value="Strength">Strength</option>
        <option value="Pilates">Pilates</option>
      </select>
    <br>
    <br>
    <label for="trainer">Who is running the class?</label>
      <select id="trainer" name="trainer">
        <option value="Charlotte">Charlotte</option>
        <option value="Ryan">Ryan</option>
        <option value="Davy">Davy</option>
        <option value="Craig">Craig</option>
      </select>
    <br>
    <br>
    <label for="day-of-the-week">What day of the week?</label>
      <select id="day-of-the-week" name="day_of_week">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
    <br>
    <br>
    <label for="start-time">Start Time:</label>
      <input id = "start-time" type="time" name="start_time" value="" />
    <br>
    <br>
      <label for="end-time">End Time:</label>
        <input id = "end-time" type="time" name="end_time" value="" />
    <br>
    <br>
    <input type="submit" value="Create Workout">
  </form>
</div>
