<div class="home">

  <h1>WELCOME BACK
  <br>CODECLAN GYMNASIUM</h1>

  <div class="button-group-home">
    <button class="button-members1" type="button" onclick="location.href='/members'">Members</button>
    <button class="button-members2" type="button" onclick="location.href='/workouts'">Workouts</button>
    <button class="button-members3" type="button" onclick="location.href='/bookings'">Bookings</button>
  </div>

</div>
