<!DOCTYPE html>
<html>
  <head>
    <title>The Client Hub</title>
  </head>
  <nav>
    <ul>
      <li>Clients</li>
      <li>Workouts</li>
      <li>Bookings</li>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
