<!DOCTYPE html>
<html>
  <head>
    <title>The Client Hub</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
   <link rel="stylesheet" type="text/css" href="/styles/forms.css">
   <link rel="stylesheet" type="text/css" href="/styles/structure.css">
   <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/workouts">Workouts</a></li>
      <li><a href="/bookings">Bookings</a></li>
      <!-- <li><a href="/login">Log Out</a></li> -->
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
