<!DOCTYPE html>
<html>
  <head>
    <title>The Client Hub</title>
  </head>
  <nav>
    <ul>
      <li><a href="/members">Members</a></li>
      <li><a href="/workouts">Workouts</a></li>
      <li><a href="/workouts/new">Add a new class</a></li>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
