
    <h1>WELCOME TO</h1>
    <br>
    <h1>THE CLIENT HUB</h1>
    <form action="/" method="get">
      <label for="name-of-gym">Name of gym:</label>
        <input id="name-of-gym" type="text" name="" value="CodeClan Gymnasium">
      <label for="admin-password">Admin Password:</label>
        <input id="admin-password" type="text" name="" value="*********">
      <input type="submit" value="Enter">
    </form>
  </body>
