<div class="login">
    <img class="login" src="/images/Client_Hub.png" alt="Client Hub Logo">

    <form action="/" method="get">
      <label for="name-of-gym">Name of Organisation:</label>
        <input id="name-of-gym" type="text" name="" value="CodeClan Gymnasium">
    <br>
    <br>
      <label for="admin-password">Admin Password:</label>
        <input id="admin-password" type="text" name="" value="*********">
    <br>
    <br>
      <input type="submit" value="Enter">
    </form>


</div>
