.button1 {
  background-color: #FE5F55;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
