.button1 {
  background-color: #FE5F55;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  cursor: pointer;
}

.button-group-home {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.button-members {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button-members1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #FE5F55;
  color: black;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  padding: 25px;
  cursor: pointer;
}

.button-members1:hover {
  color: #F7F7FF;
}

.button-members2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #FE5F55;
  color: black;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  padding: 25px;
  margin-right: 100px;
  margin-left: 100px;
  cursor: pointer;
}

.button-members2:hover {
  color: #F7F7FF;
}
.button-members3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #FE5F55;
  color: black;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  padding: 25px;
  cursor: pointer;
}

.button-members3:hover {
  color: #F7F7FF;
}

.index-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.index-button-members {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.index-button-members1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #7891f8;
  color: White;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.index-button-members1:hover {
  color: black;
}
.index-button-members2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #7891f8;
  color: white;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.index-button-members2:hover {
  color: black;
}

.index-button-members4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #FE5F55;
  color: black;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.index-buttons input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #FE5F55;
  color: black;
  border: 2px solid #F7F7FF;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.new-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background-color: #5ee987;
  color: #495867;
  border: 2px solid #495867;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}

.new-button:hover {
  color: #F7F7FF;
}
