

.hidden {
  visibility: hidden;
}

/* .new-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .form-image {
background-image: url("/images/sign-up.jpg");
height: auto;
height: 1000px;
width: auto;
background-size: 500px;
position: center fixed;
top: 0;
left: 0;
z-index: -1;
} */
.form {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input[type=text], select {
  width: auto%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: auto;
  background-color: #5ee987;
  border: 2px solid #495867;
  border-radius: 8px;
  color: #495867;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.form input[type=submit]:hover {
  color: #F7F7FF;
}

.form-search {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form-search input[type=text], select {
  width: auto%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-search input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  width: auto;
  background-color: #BDD5EA;
  border: 2px solid #495867;
  border-radius: 8px;
  color: #495867;
  padding: 10px;
  margin: 8px 10px;
  cursor: pointer;
}

.form-search input[type=submit]:hover {
  color: #F7F7FF;
}
