body, html {
  height: 100%;
  padding-top: 3em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
}

nav {
  text-align: center;
  background-color: #495867;
  top: 0;
  left: 0;
  min-width: 100%;
  position: fixed;
}

nav li{
 display: inline-block;
 text-align: center;
 padding: 14px;
}

nav li a{
  font-family: 'Montserrat', sans-serif;
  color: white;
 text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  font-size: 3em;
}

.index h1 {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  text-align: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-image {
  background-image: url("/images/Gym_image.jpg");
  height: auto;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show img {
  margin-top: 3em;
  border-style: solid;
  border-color: hotpink;
  border-width: thick;
  border-radius: 150px;
  width: 200px;
}
