body {
  background-color: #F7F7FF;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
}

nav {
  text-align: center;
  background-color: #BDD5EA;
  overflow: auto;
  white-space: nowrap;
}

nav li{
 display: inline-block;
 color: white;
 text-align: center;
 padding: 14px;
 text-decoration: none;
}

.home h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  font-size: 5em;
}

.index h1 {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  text-align: center;
}

.login img{
  display: flex;
  justify-content: center;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show img {
  margin-top: 3em;
  border-style: solid;
  border-color: hotpink;
  border-width: thick;
  border-radius: 150px;
  width: 200px;
}
