body, html {
  background-color: #F7F7FF;
  height: 100%;
  padding-top: 3em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
}

nav {
  text-align: center;
  background-color: #495867;
  top: 0;
  left: 0;
  min-width: 100%;
  position: fixed;
}

nav li{
 display: inline-block;
 text-align: center;
 padding: 14px;
}

nav li a{
  font-family: 'Montserrat', sans-serif;
  color: white;
 text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  font-size: 3em;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  color: #495867;
  text-align: center;
  flex-wrap: wrap;
}

.index-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid;
}


.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-image {
  background-image: url("/images/Gym_image.jpg");
  height: auto;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show img {
  margin-top: 3em;
  border-style: solid;
  border-color: #BDD5EA;
  border-width: thick;
  border-radius: 150px;;
  width: 200px;
}

.warning-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.warning-page h1 {
  color: #FE5F55;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 30px;
}

.warning-page input[type=submit]{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #FE5F55;
  border: solid;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 3em;
}

.warning-page a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: underline;
}
